.speech {
    font-size: 15px;
    color: #000;
}
.stage-direction {
    font-size: 12px;
    background-color: #F0F8FF;
}
.stage-direction:hover{
    color: rgb(0, 0, 2);
    background-color: #195c56;
}
.name {
    font-size: 16px;
    color: #000;
}
.name:hover {
    border: 1px solid;
    border-color: inherit;
    box-shadow: 0px 5px 6px;
}
.ladywindermare {
    color: #F037A5;
}

.lorddarlington {
    color: #125D98;
}
table,th,td {
            border: 1px solid black;
            padding: 1rem 2rem;
            text-align: center;
            
        }
        td {
            color: #2D46B9;
        }
        table {
            border-collapse: collapse;
            margin: 2rem auto;
        }
        tr:nth-child(even) {
            background-color: #eaeaeaa1;
        }
        
.link {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}